* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ececec;
    font-family: system-ui, sans-serif;
}

*::selection {
    background-color: #3bae97;
}

body {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
    padding-block: 3rem;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

.form-title {
    line-height: 1;
    margin-bottom: .3em;
}

.form-subtitle {
    font-size: .75rem;
    margin-top: .5em;
    color: #3bae97;
    cursor: pointer;
}

.form-subtitle:hover {
    text-decoration: underline;
}

.mmr-input-container {
    width: 100%;
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    position: relative;
}

.mmr-input {
    background-color: #3a3a3a;
    border: 0;
    padding: .75em 1.5em;
    font-size: 1rem;
    border-radius: .3em;
    box-shadow: 0 0 20px #131313;
    text-align: center;
    width: 100%;
    color: #ececec;
}

.invalid-mmr {
    position: absolute;
    font-size: .8rem;
    color: red;
    top: calc(100% + 1em);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.mmr-input:focus {
    outline: 1px solid  #3bae97;
}

.mmr-submit {
    background-color: #3bae97;
    border: 0;
    padding-inline: 1em;
    border-radius: .3em;
    font-size: 1rem;
    color: #1c1c1c;
    font-weight: bold;
    cursor: pointer;
}

.mmr-submit:hover {
    background-color: #2a9882;
}

.rank-info {
    width: 700px;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    row-gap: 1rem;
    justify-content: center;
    text-align: center;
}

.current-rank,
.next-rank,
.next-medal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
    padding: 1rem;
    border-radius: .3rem;
}

.current-rank {
    outline: 1px solid #3bae97;
}

.next-rank,
.next-medal {
    transform: scale(0.95);
    filter: grayscale(.5);
}

.current-rank.immortal {
    grid-column: span 3;
}

.current-rank-mmr,
.next-rank-mmr,
.next-medal-mmr {
    font-size: .8rem;
}

.current-rank-title,
.next-rank-title,
.next-medal-title {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: bold;
}

.current-rank-image,
.next-rank-image,
.next-medal-image {
    width: 100px;
    max-width: 90%;
}

.current-rank-name,
.next-rank-name,
.next-medal-name {
    font-weight: bold;
}

.next-rank-info {
    grid-column: span 3;
    text-align: center;
}

.next-rank-info-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5em;
}

.next-rank-info-your-mmr,
.next-rank-info-next-mmr,
.next-medal-info-next-mmr {
    font-size: .9rem;
}

.next-rank-info-mmr-needed,
.next-rank-info-games-needed,
.next-medal-info-mmr-needed,
.next-medal-info-games-needed {
    padding: .5em 1em;
    background-color: #3bae97;
    border-radius: .2em;
    margin-top: .5em;
    line-height: 1.2;
    color: #1c1c1c;
    font-size: 1.2rem;
}

.next-medal-info-mmr-needed,
.next-medal-info-games-needed {
    background-color: #3a3a3a;
    color: white;
}

.next-rank-info-mmr-needed span,
.next-rank-info-games-needed span,
.next-medal-info-mmr-needed span,
.next-medal-info-games-needed span {
    font-weight: bold;
    color: inherit;
}

.hidden {
    display: none;
}


@media (max-width: 400px) {

    .current-rank, .next-rank, .next-medal {
        padding: 1rem 0;
    }
}

@media (max-width: 350px) {
    .rank-info {
        display: flex;
        flex-direction: column;
    }
}